<ul class="categories-slide small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    {{#.}}
    <li>
        <a href="#gallery/{{id}}" class="th">
            <img class="category-thumbnails" src="{{image}}" >
            <p class="category-caption">{{name}}</p>
        </a>
    </li>
    {{/.}}
</ul>
