<div class="row show-image">
    <div id="image-container" class="small-12 columns">
        <img class="image-full" src="{{path}}">
        <a class="button" id="edit-button">
            <i class="foundicon-tools"></i>
        </a>
        
        
    </div>
    
    <input id="scroller" />

    <button id="clear">Clear</button>
    <button id="show">Show</button>
    
    <div id="settings-modul" class="small-4 columns hide">
        <form>
          <div class="row">
            <div class="small-12 columns">
              <label>Kategorie
                <a class="button expand">{{category}}</a>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>Datum
                <a class="button expand">{{time}}</a>
              </label>
            </div>
            <div class="small-12 columns">
              <label>Passende Artikeln
                <a class="button expand">Hinzufügen</a>
              </label>
            </div>
          </div>
        </form>
    </div>
</div>

<div class="relating-images">
    <div id="relating-images-label">
        Dieser Artikel passt mit folgenden Artikeln:
    </div>
</div>

<div id="categories-list">
</div>