<div class="show-image">
    <img class="image-full" src="{{path}}">
</div>

<div>
    <ul class="inline-list relating-images">
        <li><a class="th"><img src="../images/munte.jpg"></a></li>
        <li><a class="th"><img src="../images/munte.jpg"></a></li>
        <li><a class="th"><img src="../images/munte.jpg"></a></li>
        <li><a class="th"><img src="../images/munte.jpg"></a></li>
        <li><a class="th"><img src="../images/munte.jpg"></a></li>
    </ul>
</div>
