<ul>
    {{#.}}
    <li>
        <a class="relating-item" id="{{id}}">
            <img src="{{path}}">
        </a>
    </li>
    {{/.}}
    <li><a id="add-relation-button">
        <img src="http://placehold.it/120x120">
    </a></li>
</ul>