<ul class="clearing-thumbs" data-clearing>
    {{#.}}
    <li>
        <a>
            <img class="category-thumbnails" src="{{image}}">
            <div style="text-align:center;">{{name}}</div>
        </a>
    </li>
    {{/.}}
</ul>

 <ul data-orbit class="example-orbit">
    <li>
      <img src="../images/munte.jpg" alt="slide 1" />
      <div class="orbit-caption">
        Caption One.
      </div>
    </li>
    <li class="active">
      <img src="../images/munte.jpg" alt="slide 2" />
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <img src="../images/munte.jpg" alt="slide 3" />
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>