<form>
    <ul class="clearing-thumbs" data-clearing>
        <li>
            <a>
                <img class="category-thumbnails" src="../images/munte.jpg">
                <div>Obere Teile</div>
            </a>
        </li>
        <li>
            <a>
                <img class="category-thumbnails" src="../images/munte.jpg">
                <div>Hosen</div>
            </a>
        </li>
        <li>
            <a>
                <img class="category-thumbnails" src="../images/munte.jpg">
                <div>Zubehör</div>
            </a>
        </li>
        <li>
            <a>
                <img class="category-thumbnails" src="../images/munte.jpg">
                <div>Rocks</div>
            </a>
        </li>
    </ul>
</form>