<!-- <div id="notification" class="reveal-modal" data-reveal> -->
    <h1 id="title">
        Title
    </h1>
    <div id="message">Message</div>
    <p></p>
    <ul class="button-group">
        <li><a class="button left"></a></li>
        <li><a class="button right"></a></li>
    </ul>

    <a class="close-reveal-modal">&#215;</a>
<!-- </div> -->