<nav class="top-bar" data-topbar>
    <div class="row">
        <div class="small-2 medium-2 large-2 columns">
            <a class="nav-left-button">
                <i class="fa fa-chevron-left fa-lg"></i>
                Zurück
            </a>
        </div>
        <div class="small-8 columns centered">
            <h3 class="app-name"><strong>Wardrobe</strong></h3>
        </div>
        <div class="small-2 medium-2 large-2 columns">
            <i class="fa fa-chevron-left fa-lg"></i>
        </div>
    </div>
</nav>
