<nav class="top-bar" data-topbar>
    {{#hasBackButton}}
    <a class="nav-left-button button">
        <i class="foundicon-left-arrow"></i>
    </a>
    {{/hasBackButton}}
    
    <div class="centered">
        <p></p>
        <h4 class="app-name">
            {{title}}
        </h4>
    </div>
    
    {{#hasRightButton}}
    <a class="nav-right-button button">
        <i class="foundicon-settings"></i>
    </a>
    {{/hasRightButton}}
</nav>
