<nav class="top-bar" data-topbar>
    {{#hasBackButton}}
    <a class="nav-left-button left">
        <i class="foundicon-left-arrow"></i>
    </a>
    {{/hasBackButton}}
    
    <div class="centered">
        <strong><h3 class="app-name">{{title}}</h3></strong>
    </div>
</nav>
