/*= require foundation */

//load + process foundation
@import "../bower_components/foundation/scss/foundation";

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: scroll;
}

.appContent {
    position: absolute;
    top: 3.5rem;
    bottom: 0px;
    width: 100%;
}

.appBar {
    position: absolute;
    top: 0px;
    height: 3.5rem;
}

.img-highlight {
    border-color: blue;
}

@import "pages/mainPage";
@import "pages/imagesGallery";
@import "pages/details";
@import "components/notification";
@import "components/topbar";
@import "components/imagesList";

