$appBar-height: 3.5rem;

nav.top-bar {
    text-align: center;
    height: $appBar-height;
}

a.button.nav-left-button {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 50px;
    background-color: transparent;
    font-size: 30px;
    left: 0px;
}

a.button.nav-right-button {
    position: absolute;
    height: 100%;
    width: 50px;
    background-color: transparent;
    font-size: 30px;
    right: 0px;
}

.app-name {
    color:white;
}
