.show-image {
    position: absolute;
    top: 0px;
    bottom: 180px;
    overflow: auto;
    // overflow-x: hidden;
}

img .image-full {
    max-height: 100%;
}

.relating-images {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
}

#relating-images-label {
    position: absolute;
    bottom: 150px;
}

.relating-images > ul{
    height: 150px;
    display: inline-block;
    align: center;
    margin-left: 0px;
    margin-top: 40px;
}

ul > li {
    bottom: 0px;
}

.th > img {
    width: 120px;
    height: 120px;
    vertical-align: bottom;
}
