.show-image {
    position: absolute;
    top: 0px;
    bottom: 180px;
    overflow: auto;
    // overflow-x: hidden;
}

#image-container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

img .image-full {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#relation-categories-select {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0px;
    background-color: black;
}

#relating-images {
    position: absolute;
    height: 180px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#relating-images-label {
    position: absolute;
    bottom: 150px;
}

#relating-images > div {
    position: absolute;
    height: 100%;
    bottom: 0px;
}

#relating-images > div > ul{
    height: 150px;
    margin-left: 0px;
    margin-top: 30px;
    overflow: auto;
    white-space: nowrap;
}

#relating-images > div > ul > li {
    float: none;
    display: inline-block;
    width: 130px;
    height: 130px;
    border-width: 5px;
    border-style: solid;
}

#relating-images > div > ul > li > a {

}

a.button#edit-button {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
}

.th > img {
    width: 120px;
    height: 120px;
    vertical-align: bottom;
}
